
html,hou
body {
	height: 100%;
  width: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	color: #65665C;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 28px;
}

.container {
	max-width: 1320px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px;
}

.dn {
	display: none;
}

section {
	padding: 0 0 128px 0;
}

.sec_tit {
	color: #2C2F24;
	text-align: center;
  font-family: "Roboto";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; 
	margin-bottom: 20px;
  transition: 0.3s; 
}
.sec_tit:hover {
  font-size: 120%; 
}

.sec_p{
  margin: 0 auto;
	color: #65665C;
	text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; 
  transition: 0.3s; 
}
.sec_p:hover {
  font-size: 120%; 
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.link {
	transition: 0.3s;
  padding: 8px;
  border-radius: 6px;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
  background: #f7f0eb;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}
/* sub_header */
.sub_header{
	background: #939878;
	display: flex;
	align-items: center;
	padding: 4px 40px;
}
.sub_txt{
text-align: center;
width: 100%;
color: #FFF;
font-size: 14px;
line-height: 21px; /* 150% */
transition: 0.3s; 

}
.sub_txt:hover {
  font-size: 120%; 
}
/* header */
header{
	padding: 16px 0;
}
.head {
	align-items: center;
	justify-content: space-between;
	gap:12px
}
.btn {
  width: 172px;
  padding: 9px 18px;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; 
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
}
.menu a{
	padding: 9px 16px;
}
.btns{
  gap: 16px;
}
.btn:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	background: #383737;
	border-color: #383737;
	color: #FFF;
  font-size: 120%; 
}
.shop:hover {
	background: #383737;
	border-color: #383737;
	color: #FFF;
  font-size: 120%; 
}
.shop{
padding: 9px 21px;
border-radius: 6px;
border: 1px solid #E7E8E3;
background: #FFF;
}
.logo img{
max-width: 105px;
}
/* intro */
.intro{
  background: #f5f5f7;
}
.intro_inner{
  position: relative;
  max-width: 1580px;
  margin: 0 auto;
}
.intro_inner::before{
  content: ' ';
  width: 135px;
  height: 135px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/mainright1.png);
}
.intro_row{
  display: flex;
  flex-wrap: wrap;
}
.intro_content,
.intro_img{
  width: 50%;
  min-width: 300px;
}
.intro_content{
  font-weight: 400;
  color: #2A2C1F;
  font-family: "Roboto";
  position: relative;
  padding: 160px 0;
}
.intro_content::after{
  content: ' ';
  width: 135px;
  height: 135px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../img/mainright2.png);
}
.intro_tit{
  font-size: 56px;
  line-height: 67.2px;
  transition: 0.3s; 
}
.intro_tit:hover {
  font-size: 120%; 
}
.intro_p{
  color: #65665C;
  font-size: 20px;
  line-height: 30px;
  margin: 21px 0;
  transition: 0.3s; 
}
.intro_p:hover {
  font-size: 120%; 
}
.span{
  text-align: center;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 21px; 
  background: #E7E8E3;
  border-radius: 32px;
  width: fit-content;
  margin-bottom: 20px;
  transition: 0.3s; 
}
.span:hover {
  font-size: 120%; 
}
.intro_form{
  display: flex;
  gap: 16px;
}
.intro_label{
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  padding: 9px 19px;
  gap: 19px;
  transition: 0.3s; 
}
.intro_label:hover {
  font-size: 120%; 
}
.intro_label input{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; 
  border: none;
  outline: none;
}
.intro_label input::placeholder{
  color: #65665C;
}
.intro_btn{
	width: 158px;
  padding: 9px 18px;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; 
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  transition: 0.3s; 
}
.intro_btn:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	background: #383737;
	border-color: #383737;
	color: #FFF;
  font-size: 120%; 
}
.intro_img{
  background: url(../img/mainleft.jpg) center/cover no-repeat;
  transition: 0.3s; 
}

section.intro{
  padding: 0;
}
/* media */
.media {
  padding-top: 60px;
}
.media_center{
justify-content: space-around;
}
.media_p{
max-width: 243px;
color: #2A2C1F;
margin-bottom: 18px;
margin-top: 29px;
transition: 0.3s; 
}
.media_p:hover {
  font-size: 120%; 
}
.logoipsum{
margin-top: 40px;
gap: 32px;
transition: 0.3s; 
}
.logoipsum_tit:hover {
  font-size: 120%; 
}
/* works */
.works .sec_p{
margin-bottom: 64px;
}
.works_cards{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.works_card{
  position: relative;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid #E7E8E3;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 16px;
  margin: 0 -45px;
  transform: rotate(calc(var(--r) * 1deg));
  padding: 48px 34px;
}
.works_cards:hover .works_card{
  transform: rotate(0deg);
  margin: 0 20px;
  font-size: 120%; 
}
.works_card::before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.works_card i{
  width: 48px;
  height: 48px;
  display: block;
  border-radius: 8px;
  background: #FAE8E1;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .works_tit{
  color: #2A2C1F;
  text-align: center;
  font-size: 24px;
  margin-bottom: 18px;
  transition: 0.3s; 
}
.works_tit:hover {
  font-size: 120%; 
}
.works_p {
  text-align: center;
  font-size: 16px;
  line-height: 24px; 
  width: 320px;
}
.works_ic span {
  color: #CF6F49;
}
/* houses */
.houses_center{
justify-content: space-between;
}
.btn__white{
width: 214px;
border: 1px solid #E7E8E3;
background: #FFF;
color: #2A2C1F;
padding: 13px 25px;
transition: 0.3s; 
}
.houses .btns{
  gap: 24px;
}
.houses .sec_tit{
  max-width: 452px;
  text-align: start;
  margin-bottom: 28px;
}
.houses .sec_p{
  max-width: 520px;
  margin-bottom: 20px;
  text-align: start;
}
.link{
padding: 12px 24px;
color: #2A2C1F;
text-align: center;
font-size: 16px;
transition: 0.3s; 
}
.link:hover {
  font-size: 120%; 
}
.houses_right img{
border-radius: 16px;
}
.houses_left{
margin-top: 140px;
}

/* fast */
.fast_right{
margin-left: 80px;
}
.fast_center{
  gap:80px
}
.fast_tit{
  color: #2A2C1F;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 18px;
}
.fast_tit:hover {
  font-size: 120%; 
}
.fast_p{
width: 245px;
font-size: 16px;
line-height: 24px; /* 150% */
margin-bottom: 42px;
transition: 0.3s; 
}
.fast_p:hover {
  font-size: 120%; 
}
.fast_ic {
width: 48px;
height: 48px;
display: block;
border-radius: 8px;
background: #FAE8E1;
color: #CF6F49;
margin-top: 38px;
display: flex;
justify-content: center;
align-items: center;
}
.fast_cards{
  justify-content: space-between;
}
.fast_left img{
max-width: 608px;
border-radius: 16px;
}
.fast .sec_tit{
text-align: left;
margin-top: 26px;
margin-bottom: 30px;
}
.fast .sec_p{
  text-align: left;
  max-width: 600px;
}
.fast_center{
  flex-wrap: nowrap;
}
/* area */
.area {
 background-color: #F5F5F2;;
}
.area .btns{
  justify-content: center;
}
.area .span{
	margin: 0 auto;
  margin-bottom: 20px;
  transition: 0.3s; 
}
.area_img_right{
  margin-bottom: 18px;
  display: flex;
  flex-direction: row-reverse;
}
.area_img_left{
  margin-top: 25px;
}
.area .sec_tit{
  margin-bottom: 80px;
}
.area_card img{
width: 405px;
height: 268px;
}
.area_tit{
color: #2A2C1F;
font-size: 24px;
font-weight: 700;
line-height: 33.6px; /* 140% */
transition: 0.3s; 
}
.area_tit:hover {
  font-size: 120%; 
}
.area_info{
padding: 24px;
}
.price{
color: #2A2C1F;
font-size: 18px;
font-weight: 700;
line-height: 27px; /* 150% */
margin-bottom: 16px;
transition: 0.3s; 
}
.price:hover {
  font-size: 120%; 
}
.numbers{
	margin-top: 16px;
	gap: 24px;
  transition: 0.3s; 
}
.numbers:hover {
  font-size: 120%; 
}
.area_card{
	width: 405px;
	transition: 0.3s;
	border-radius: 12px;
	border: 1px solid #F9F9F7;
	margin-bottom: 32px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.area_card:hover{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.area_col{
	gap: 32px;
}

/* location */
.location{
  background-color: #f5f5f7;
}
  /* .grey {
    padding-bottom: 0;
    margin-bottom: -240px;
    z-index: 10;
    position: relative;
  } */

.location .btns{
  justify-content: center;
  margin-top: 80px;
}
.location_card{
border-radius: 16px;
border: 1px solid #E7E8E3;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
width: 416px;
padding: 33px;
margin-bottom: 16px;
}
.location_card:hover{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.location_tit{
color: #2A2C1F;
font-size: 20px;
font-weight: 700;
line-height: 28px; /* 140% */
transition: 0.3s; 
}
.location_tit:hover {
  font-size: 120%; 
}
.location_card .link{
padding: 0;
}
.location_col{
	gap: 16px;
}
.location .sec_p{
	margin-bottom: 80px;
}
.location .btns{
	margin-top: 80px;
	justify-content: center;
}
/* family */
.family .container{
  padding: 0 80px ;
  background: #65665C;
  border-radius: 24px;
}
.family{
display: flex;
border-radius: 24px;
}
.family_ic{
width: 32px;
border-radius: 8px;
background: #FFF;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 96px;
}
.family .sec_tit{
  color: #FFF;
  margin-bottom: 30px;
  margin-top: 12px;
}
.family .sec_p{
  color: #E7E8E3;
  max-width: 765px;
  
}
.family .btn{
padding: 14px 25px;
display: block;
margin: 20px auto;
text-align: center; 
transition: 0.3s;
margin-bottom: 96px;
}
/* clients */
.clients .sec_tit{
margin-top: 100px;
margin-bottom: 26px;
}
.clients .sec_p{
margin-bottom: 80px;
}
.clients_card{
  padding: 32px;
  transition: 0.3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.clients_card:hover{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.clients_card{
border-radius: 16px;
border: 1px solid #E7E8E3;
background: #FFF;
}
.clients_cards{
  justify-content: center;
  gap: 16px;
}
.clients_ic img{
width: 20px;
margin-bottom: 26px;
}
.clients_p{
font-size: 18px;
font-weight: 400;
line-height: 27px; /* 150% */
width: 314px;
margin-bottom: 30px;
transition: 0.3s; 
}
.clients_p:hover {
  font-size: 120%; 
}
.clients_img{
width: 48px;
margin-right: 16px;
}
.name{
font-size: 16px;
font-weight: 700;
line-height: 24px; /* 150% */
transition: 0.3s; 
}
.name:hover {
  font-size: 120%; 
}
.job{
color: #65665C;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
transition: 0.3s; 
}
.job:hover {
  font-size: 120%; 
}
/* posts */

.posts .sec_tit{
margin-bottom: 30px;
text-align: left;
}
.posts .sec_p{
  margin: 0;
  max-width: 710px;
  text-align: left;
}
.posts_top{
margin-bottom: 80px;
justify-content: space-between;
}
.posts .btn__white{
  padding: 13px 25px;
  text-align: center;
  max-width: 121px;
}
.posts .span{
  margin-bottom: 25px;
}
.posts_card_top .span{
  background-color:#FAE8E1;
  margin-right: 16px;
}
.posts_p{
width: 340px;
color: #65665C;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 7px;
margin-bottom: 22px;
transition: 0.3s; 
}
.posts_p:hover {
  font-size: 120%; 
}
.posts .link{
color: #2A2C1F;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 24px; /* 150% */
padding: 0;
}
.posts .area_info{
  width: 374px;
}
.posts .ban{
  margin-bottom: 40px;
}
/* footer */
.footer_left{
  margin-right: 95px;
}
.footer_nav1{
  margin-right: 134px;
}
.footer_nav2{
  margin-right: 102px;
}
.footer_nav2 a{
	line-height: 38px;
}
.footer_nav3{
  margin-right: 196px;
}
.footer_big{
  margin-bottom: 64px;
}
.footer_list a{
color: #2A2C1F;
font-size: 14px;
font-weight: 400;
line-height: 36px; /* 150% */
width: 38px;
}
.footer_tit{
margin-bottom: 10px;
color: #2A2C1F;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
width: 77px;
transition: 0.3s; 
}
.footer_tit:hover {
  font-size: 120%; 
}
.footer_p{
margin-bottom: 12px;
color: #65665C;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
width: 379px;
transition: 0.3s; 
}
.footer_tit:hover {
  font-size: 120%; 
}
.footer_txt{
color: #65665C;
font-size: 12px;
font-weight: 400;
line-height: 18px; /* 150% */
width: 206px;
margin-top: 12px;
transition: 0.3s; 
}
.footer:hover {
  font-size: 120%; 
}
.footer_copy{
  justify-content: space-between;
  padding: 25px 60px;
}
.input{
border-radius: 6px;
border: 1px solid #E7E8E3;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
padding: 12px;
color: #65665C;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */ 
}




.fab-wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  }
.fab-checkbox {
  display: none;
}
.fab {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  background: #CF6F49;
  border-radius: 50%;
  background: #d6815f;
  box-shadow: 0px 5px 20px #db967b;
  transition: all 0.3s ease;
  z-index: 1;
  border-bottom-right-radius: 6px;
  border: 1px solid #CF6F49;
}
.fab-checkbox:checked ~ .fab:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}
.fab:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background: #E7E8E3;
  box-shadow: 0px 5px 20px 5px #db967b;
}
  
.fab-dots {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
  opacity: 1;
  animation: blink 3s ease infinite;
  transition: all 0.3s ease;
}
  
.fab-dots-1 {
  left: 15px;
  animation-delay: 0s;
}
.fab-dots-2 {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-delay: 0.4s;
}
.fab-dots-3 {
  right: 15px;
  animation-delay: 0.8s;
}
  
.fab-checkbox:checked ~ .fab .fab-dots {
  height: 6px;
}
  
.fab .fab-dots-2 {
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
  
.fab-checkbox:checked ~ .fab .fab-dots-1 {
  width: 32px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.fab-checkbox:checked ~ .fab .fab-dots-3 {
  width: 32px;
  border-radius: 10px;
  right: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
}
  
@keyframes blink {
  50% {
  opacity: 0.25;
  }
}
  
.fab-checkbox:checked ~ .fab .fab-dots {
  animation: none;
}
  
.fab-wheel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
}
.fab-checkbox:checked ~ .fab-wheel {
  transform: scale(1);
}
.fab-action {
  position: absolute;
  background: #d6815f;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  box-shadow: 0 0.1rem 1rem #db967b;
  transition: all 1s ease;
  opacity: 0;
}
  
.fab-checkbox:checked ~ .fab-wheel .fab-action {
  opacity: 1;
}
  
.fab-action:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #f16100;
}
  
.fab-wheel .fab-action-1 {
right: -1rem;
  top: 0;
}
  
.fab-wheel .fab-action-2 {
  right: 3.4rem;
  top: 0.5rem;
}
.fab-wheel .fab-action-3 {
left: 0.5rem;
bottom: 3.4rem;
}
.fab-wheel .fab-action-4 {
left: 0;
bottom: -1rem;
}